.element__like {
    width: 22px;
    height: 19px;
    padding: 0;
    margin-top: 30px;
    margin-right: 20px;
    border: none;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    cursor: pointer;
}
.element__like:disabled {
    background: none;
}
.element__like:hover {
    opacity: 0.5;
}
.element__like:active {
    background-color: #000;
}
