.form__button {
    background-color: #000;
    color: white;
    margin-top: 48px;
    margin-bottom: 37px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    border: 0;
}
@media screen and (min-width: 1280px) {
    .form__button:hover {
        background-color: rgba(0, 0, 0, .5);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .form__button:hover {
        background-color: rgba(0, 0, 0, .8);
    }
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .form__button {
        width: 238px;
        height: 46px;
        left: 22px;
    }
}