.popup__label {
    border: none;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 27px;
    margin-top: 30px;
    color: #000;
    }
@media all and (min-width: 320px) and (max-width: 767px) {
    .popup__label {
        width: 65%;
    }
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .popup__label {
        width: 80%;
    }
}